@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit-based browsers (Chrome, Safari) */
.body-scroll::-webkit-scrollbar {
  width: 12px;
}

.body-scroll::-webkit-scrollbar-track {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 32px;
  background-color: transparent;
}

.body-scroll::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background-color: theme(colors.grey.primary.tint.40);
}

/* Firefox */
.body-scroll {
  scrollbar-width: thin; /* Sets the width of the scrollbar */
  scrollbar-color: theme(colors.grey.primary.tint.40) transparent; /* Thumb color and track color */
}

/* Fallback for older browsers */
.body-scroll {
  overflow-y: scroll;
}

svg {
  height: 24px;
  width: 24px;
}
