@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit-based browsers (Chrome, Safari) */
.body-scroll::-webkit-scrollbar {
  width: 12px !important;
}

.body-scroll::-webkit-scrollbar-track {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
  border-radius: 32px !important;
  background-color: transparent;
}

.body-scroll::-webkit-scrollbar-thumb {
  border-radius: 32px !important;
  background-color: theme(colors.grey.primary.tint.40);
}

/* Firefox */
/* .body-scroll {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.grey.primary.tint.40) transparent;
} */

/* Fallback for older browsers */
/* .body-scroll {
  overflow-y: scroll;
} */

svg {
  height: 24px;
  width: 24px;
}
